body
{
    background-color: white;
    color: #333;
    font-size: 14px;
    font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
}

div#header a, a:visited, a:hover
{
   text-decoration: none;
   color: #333;
}

div#content
{
    margin-top: 36px;
}

div#left
{
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    text-align: left;
}

div#footer
{
    margin-top: 36px;
    font-size: 11px;
}

a, a:visited
{
    text-decoration: none;
    color: #0066CC;
}

a:hover
{
    text-decoration: underline;
}

h2
{
    font-size: 1.4em;
}


