{% extends "base.html" %}

{% block title %}About UrlReveal{% endblock %}

{% block content %}
<div id="left">
<h2>What is it?</h2>
<p>UrlReveal shows you where short/redirecting URLs lead before you actually follow them, even if they go through multiple locations. This is useful if you want to establish if a link takes you to a domain with malicious content.</p>
<p>Try entering <a href="http://bit.ly/h8vhq0" title="bit.ly link">bit.ly/h8vhq0</a> above to see it in action.</p>

<h2>What else?</h2>
<p>UrlReveal has a simple <a href="/apihelp" title="UrlReveal API">API</a> that can be used by other applications, and the <a href="http://dev.throwingfire.com/projects/urlreveal" title="UrlReveal - ThrowingFire Labs">source code</a> for the entire Google App Engine (Python) application is freely available under the permissive and open source <a href="http://www.opensource.org/licenses/mit-license.php" title="MIT license">MIT license.</a></p>

<h2>Who to blame?</h2>
<p>UrlReveal was made by <a href="http://patrickmylund.com" title="Patrick Mylund Nielsen">Patrick Mylund Nielsen</a>.</p>
</div>
{% endblock %}
