{% extends "base.html" %}

{% block title %}UrlReveal API{% endblock %}

{% block content %}
<div id="left">
<h2>Using the API</h2>
<p>Simply send a GET request with a 'url' variable to www.urlreveal.com/api, e.g.:<br /><a href="/api?url=http://bit.ly/h8vhq0">http://www.urlreveal.com/api?url=http://bit.ly/h8vhq0</a></p>

<p>Possible responses are:</p>
<ul>
<li><strong>The destination URL</strong>: E.g. http://www.urlreveal.com</li>
<li><strong>301</strong>: The URL redirects infinitely</li>
<li><strong>403</strong>: The request was forbidden by the target server</li>
<li><strong>404</strong>: The page was not found</li>
<li><strong>410</strong>: The page is no longer available</li>
<li><strong>500</strong>: The URL was invalid or resulted in another error</li>
<li><strong>503</strong>: The page's server is unavailable</li>
</ul>
<p>The URL must be UTF-8 encoded if it contains non-ASCII characters.</p>
</div>
{% endblock %}
