<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}UrlReveal{% endblock %}</title>
<meta name="robots" content="noodp, noydir" />
<meta name="description" content="Reveal the page behind short URL and redirects." />
<meta name="keywords" content="urlreveal, url reveal, url,redirect,url redirect" />
<link rel="stylesheet" href="/style/urlreveal.css" type="text/css" media="screen, projection" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-270876-26']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body onLoad="document.forms.revealform.url.focus()">
<div id="container">
    <div id="header">
        <h1>{% block pagetitle %}<a href="/" title="UrlReveal">UrlReveal</a>{% endblock %}</h1>
    </div>
    <div id="revealform">
        {% include "form.html" %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <a href="/about" title="About">About</a> | <a href="/apihelp" title="API">API</a> | <a href="http://dev.throwingfire.com/projects/urlreveal" title="UrlReveal - ThrowingFire Labs">Source</a>
    </div>
</div>
</body>
</html>
